<!DOCTYPE html>
<html>
<head>
    <title>Rate Movie</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2 class="text-center">Rate Movie</h2>
        <div class="row justify-content-center">
            <div class="col-4">
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.rating.label }}<br>
                        {{ form.rating(class="form-control") }}
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
