<!DOCTYPE html>
<html>
<head>
    <title>Movie Recommendations</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1>Recommended Movies</h1>
    <ul class="list-unstyled">
        {% for movie in movies %}
            <li class="media mb-4 p-3 bg-light rounded">
                <div class="media-body">
                    <h2>{{ movie['title'] }}</h2>
                    <p>Genres: {{ movie['genres'] }}</p>
                    <p>Predicted Rating: {{ movie['predicted_rating'] }}</p>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>
